# vi: ft=yaml
version: '3.9'

services:
  # duplicate and rename as necessary for each service running on the host
  # and set the VIRTUAL_HOST and HOST_PORT
  myservice:
    extends:
      file: docker/proxy-to-host.yml
      service: proxy-to-host
    profiles: []
    environment:
      - VIRTUAL_HOST=myservice.localhost
      - HOST_PORT=8000

